{% extends 'AppBundle::base.html.twig' %}

{% block homepage %}
    <div class="how-it-works">
        <div class="container text-center">
            <a href="#" class="how-close"><i class="fa fa-times"></i></a>
            <div class="how-header">Как это работает?</div>
            <div class="hidden-xs how-img">
                <img src="{{ asset('images/way.png') }}" alt="Как это работает?" class="img-responsive">
            </div>
            <div class="visible-xs how-img">
                <img src="{{ asset('images/way-xs.png') }}" alt="Как это работает?" class="img-responsive">
            </div>
        </div>
    </div>
{% endblock %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
    <div class="seawolf-block">
        <div class="choose-block-md visible-sm"></div>
        <div class="container text-center">
            <h2>Стань морским волком</h2>
            <p>
                Значимость этих проблем настолько очевидна, что реализация намеченных <br>
                плановых заданий влечет за собой процесс внедрения и модернизации <br>
                систем массового участия.
            </p>
            <button type="button" class="btn btn-7">Как это работает</button>
            <div class="choose-block-xs visible-xs text-center">
                <a href="#" id="filterXS" class="btn btn-1">Поиск путешествия</a>
            </div>
            {% include 'AppBundle:Travel:searchForm.html.twig' %}
        </div>
    </div>
    <div class="container content main">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-12">
                        {% include 'AppBundle:blocks:main-inhelp.html.twig' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% include 'AppBundle:blocks:main-carousel-1.html.twig' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% include 'AppBundle:blocks:main-carousel-2.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 banner-xs">
                {% include 'AppBundle:blocks:banners.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block inhelp %}{% endblock %}