{% extends 'AppBundle::base.html.twig' %}
{% trans_default_domain "AppBundle" %}

{% block content %}
    <div class="container content traveller-booked">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="row btn-block">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>{{ title|trans }}</h1>
                        <div class="search-filter">
                            {{ knp_menu_render('profile_menu', { template: 'AppBundle::searchMenu.html.twig', currentClass: 'active' }) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-unstyled media-list media-search">
                        {% for travel in travels %}
                            {% include 'AppBundle:Travel:_travelCard.html.twig' %}
                        {% else %}
                            {{ 'search.travels_not_found'|trans }}
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <?require_once $_SERVER['DOCUMENT_ROOT']."/include/pagination.php";?>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 banner-xs">
                {% include 'AppBundle:blocks:banners.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}
