<div class="banners banners-bottom text-center">
    <ul class="list-inline">
        <li><a href="#"><img src="{{ asset('images/banners/banner1.png') }}" alt="Приложение для IPhone FreeYachting" class="img-responsive"></a></li>
        <li><a href="#"><img src="{{ asset('images/banners/banner2.png') }}" alt="Путешествие на яхте" class="img-responsive"></a></li>
        <li><a href="#"><img src="{{ asset('images/banners/banner3.png') }}" alt="Помощь капитану" class="img-responsive"></a></li>
    </ul>
</div>
<a href="#" class="jcarousel-control-prev visible-sm"><span class="glyphicon glyphicon-chevron-left"></span></a>
<a href="#" class="jcarousel-control-next visible-sm"><span class="glyphicon glyphicon-chevron-right"></span></a>
<p class="jcarousel-pagination visible-xs"></p>
