<div class="inhelp hidden-xs">
    <h1>В помощь путешественику</h1>
    <a href="#" class="color1">
        <p><i class="fa fa-plane"></i></p>
        <p>Билеты</p>
    </a>
    <a href="#" class="color2">
        <p><i class="fa fa-life-ring"></i></p>
        <p>Страховка</p>
    </a>
    <a href="#" class="color3">
        <p><i class="fa fa-globe"></i></p>
        <p>Визы</p>
    </a>
    <a href="#" class="color4">
        <p><i class="icon-sailboat"></i></p>
        <p>Обучение</p>
    </a>
    <a href="#" class="color5">
        <p><i class="icon-helm"></i></p>
        <p>Снаряжение</p>
    </a>
</div>
<div class="inhelp visible-xs">
    <h1>В помощь<br>путешественику</h1>
    <div id="carousel-inhelp" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-inhelp" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-inhelp" data-slide-to="1"></li>
            <li data-target="#carousel-inhelp" data-slide-to="2"></li>
            <li data-target="#carousel-inhelp" data-slide-to="3"></li>
            <li data-target="#carousel-inhelp" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <a href="#" class="color1">
                    <p><i class="fa fa-plane"></i></p>
                    <p>Билеты</p>
                </a>
            </div>
            <div class="item">
                <a href="#" class="color2">
                    <p><i class="fa fa-life-ring"></i></p>
                    <p>Страховка</p>
                </a>
            </div>
            <div class="item">
                <a href="#" class="color3">
                    <p><i class="fa fa-globe"></i></p>
                    <p>Визы</p>
                </a>
            </div>
            <div class="item">
                <a href="#" class="color4">
                    <p><i class="icon-sailboat"></i></p>
                    <p>Обучение</p>
                </a>
            </div>
            <div class="item">
                <a href="#" class="color5">
                    <p><i class="icon-helm"></i></p>
                    <p>Снаряжение</p>
                </a>
            </div>
        </div>
    </div>
</div>